@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,800,800i");

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: repeating-linear-gradient(
    45deg,
    #20202f,
    #20202f 4pt,
    #2b2b3d 4pt,
    #2b2b3d 8pt
  );
}

#app {
  color: #fff;

  * {
    font-family: "Open Sans", sans-serif;
  }
}
